Python Data Structures and Boolean
    Boolean
    Boolean and Logical Operators
    Lists
    Comparison operators
    Dictionaries
    Tuples
    Sets

In [5]:
my_str = 'Mandar123'
my_str.istitle() #Return True if the string is a title-cased string, False otherwise.

True

In [7]:
print(my_str.isalnum())
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('3')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
True
False

Boolean and Logical operators

In [8]:
True and True

True

In [9]:
True or False

True

# List
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [10]:
type([])

list

In [11]:
lst = list()
type(lst)

list

In [12]:
lst = ["Maths","Physics", 100 ,2,400]
len(lst)

5

Append

In [13]:
lst.append("Mandar150")

In [14]:
lst.append(["John","Bala"])

In [15]:
print(lst)

['Maths', 'Physics', 100, 2, 400, 'Mandar150', ['John', 'Bala']]

In [16]:
print(len(lst))

7

In [69]:
# lst[1:7]
lst[0]

1

In [70]:
lst[0:6]

[1, -1, 2, 4, 5, 7]

In [21]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(2,1,4)

3

In [26]:
##Min and Max
# lst=[1,-1,2,4,5,7,10,11111]
min(lst)
max(lst)

11111

SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [27]:
## Defining an empy set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [28]:
set_var = {1,2,3,4,5,6}
print(set_var)

{1, 2, 3, 4, 5, 6}

In [29]:
set_var.add(10)
print(set_var)

{1, 2, 3, 4, 5, 6, 10}

In [30]:
set1 = {"Iron Man","Thor","Captain america"}
set2 = {"Iron Man","Thor","Captain america","Blck widow"}
set2.intersection_update(set1)
print(set2)

{'Thor', 'Iron Man', 'Captain america'}

In [36]:
set1.difference(set2)
print(set1)

{'Thor', 'Iron Man', 'Captain america'}

DictionariesÂ¶
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [38]:
dict ={}
type(dict)

dict

In [39]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
type(my_dict)

dict

In [41]:
my_dict['Car2']

'BMW'

In [53]:
# We can even loop throught the dictionaries keys
for i in my_dict:
    print(i + ": "+my_dict[i])
#     print(my_dict[i])

Car1: MAruti
Car2: BMW
Car3: Mercidies Benz
Car4: Lambo

In [43]:
for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [55]:
for i in my_dict.items():
    print(i)

('Car1', 'MAruti')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')
('Car4', 'Lambo')

In [49]:
my_dict['Car4'] = "Lambo"
print(my_dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Lambo'}

In [50]:
my_dict['Car1']='MAruti'
print(my_dict)

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Lambo'}

.Nested Dictionary

In [51]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

Tuples #this is immutable

In [56]:
my_tupel = tuple()

In [57]:
my_tupel =()
type(my_tupel)

tuple

In [58]:
my_tupel = ("Mandar", "Rahul" , "Sid")
my_tupel[0]

'Mandar'

In [59]:
my_tupel[0] = "Wanjare"

TypeError: 'tuple' object does not support item assignment

In [62]:
my_tupel = ("Hello" , "World")
type(my_tupel)

tuple

In [63]:
my_tupel.count("Hello")

1