<font size ="5"><b> Python Functions<font/>

In [2]:
num = 25
if num%2 ==0:
    print("number is even")
else:
    print("number is odd")

number is odd

In [5]:
def eveorodd(num):
    if num%2 ==0:
        print("number is even")
    else:
        print("number is odd")
    
num = 26
eveorodd(num)

number is even

In [10]:
#print vs return
def hello_world():
    #print('hello world')
    return 'hello Welocome'

In [12]:
a = hello_world()
a

'hello Welocome'

In [14]:
def add(num1,num2):
    return num1+num2

In [15]:
print(add(25,10))

35

In [19]:
def hello(name,age=20):
    print('My name is {} and my age is {}'.format(name,age))
  

hello('Mandar')

My name isMandar and my age is 20

In [31]:
def helllo(*args,**kwargs):
    print(args)
    print(kwargs)
    print(args[0])
    print(kwargs['age'])

In [32]:
helllo("Name","Mandar",age = 20 ,dob = 2000)

('Name', 'Mandar')
{'age': 20, 'dob': 2000}
Name
20

In [23]:
lst =["Name" , "Mandar"]
dict = {'age': 20, 'dob': 2000}

In [24]:
helllo(lst , dict)

(['Name', 'Mandar'], {'age': 20, 'dob': 2000})
{}

In [25]:
helllo(*lst,**dict)

('Name', 'Mandar')
{'age': 20, 'dob': 2000}

In [26]:
def lstt(lst):
    print(lst)
    
lstt([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [39]:
def evenoddsum(lst):
    even_sum =0 ;
    odd_sum =0;
    
    for i in lst:
        if i%2 ==0:
            even_sum+=i;
        else:
            odd_sum+=i;
            
    return even_sum,odd_sum

In [40]:
evenoddsum([1,2,3,4,5])

(6, 9)

<font size ="4"><b> Map Functions<font/>

In [45]:
def even_or_odd(num):
    if num%2 ==0:
        return "This {} is a even number".format(num)
      
    else:
        return "This {} is a odd number".format(num)

In [49]:
lst= [1,2,3,4,56,78,23]
list(map(even_or_odd,lst))

['This 1 is a odd number',
 'This 2 is a even number',
 'This 3 is a odd number',
 'This 4 is a even number',
 'This 56 is a even number',
 'This 78 is a even number',
 'This 23 is a odd number']

<font size ="4"><b> LAmbda Functions<font/>

    anonymous functionns
    functions with no names

In [50]:
def fun(a,b):
    return a+b

In [51]:
fun(5,6)

11

In [54]:
addition = lambda a,b:a+b

In [55]:
addition(12,14)

26

In [57]:
def even(num):
    if num %2 ==0:
        return True

In [58]:
even(24)

True

In [59]:
even = lambda num:num%2 == 0

even(2)

True

<font size ="4"><b> Filter Functions<font/>

In [63]:
def even(num):
    if num % 2 ==0:
        return True

In [64]:
lst = [1,2,3,4,5,6,18,33,42,77,20]
list(filter(even,lst))

[2, 4, 6, 18, 42, 20]

In [67]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 18, 42, 20]

<font size ="4"><b> List Comprehension<font/>

It provides a consise way to create a list. It contais a square bracrates containing an expression followed by a for clause the , zero or more numbers of for or is clause. The expressions can be anything means you ban put any kind of object in the list

In [69]:
lst1 =[]
def sqrt(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1